body{
    background-color: #212121;
    color: #ffffff;
    overflow-x:hidden;
    overflow-y: hidden;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clock{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    /* border: 3px solid #fff; */
    margin-top: 10px;
    padding: 20px 50px;
    /* color: orange; */
    background-color: orange;
    /* background-image: linear-gradient(to right,red,orange,pink,green,blue,purple); */

    border-radius: 10px;
}
.banner{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    /* border-style: dashed; */
    /* overscroll-behavior-block: contain; */
    scroll-behavior: smooth;
    /* background-image: linear-gradient(to left,red,orange); */
    border-radius: 10px;
}
