body{
    background-color: #212121;
    color: antiquewhite;
}
.container{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    gap:25px;
}
button{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: none;
}
button:hover{
    box-shadow: 0px 4px 20px 1dvb rgb(200, 47, 255);
    /* gap: 25px; */
    transform: scale(1.1);
    transition: 1s;
}